//
   Created by Lars on 29.04.2016.

script(src="https://code.jquery.com/jquery-2.2.3.min.js")
script(src="http://code.interactjs.io/v1.2.6/interact.min.js")
script(src="/html-sync.min.js")
script(src="/dame/dame.js")
link(href="/dame/style.css" rel="stylesheet" type="text/css")
body
    div#wrapper
        div#board

        button#reset
            | Zurücksetzen
