//
   Created by Lars on 21.02.2016.

script(src="https://code.jquery.com/jquery-2.2.3.min.js")
script(src="/html-sync.min.js")
link(href="/style.css" rel="stylesheet" type="text/css")

body
    div.sky
    div.trees

script.
    var htmlSync = new HTMLSync({debug:false});

    $(".sky").click(function(e){
        var star = new Part("div");
        star.attr("className", "star");
        star.setStyles({
            top: e.pageY + "px",
            left: e.pageX + "px"
        });
        htmlSync.add(star);
    });