//
   Created by Lars on 29.04.2016.

script(src="https://code.jquery.com/jquery-2.2.3.min.js")
script(src="http://code.interactjs.io/v1.2.6/interact.min.js")
script(src="/html-sync.min.js")
script(src="/game/game.js")
link(href="/game/style.css" rel="stylesheet" type="text/css")
body
    div#wrapper
        div#storage
        div#next.field
        div#board
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
            div.field
        button#reset
            | Zurücksetzen
