//
   Created by Lars on 21.02.2016.

script(src="/html-sync.min.js")
script(src="/html-sync.min.js")

script.
    var htmlSync = new HTMLSync({debug:true});
    var hello = new Part("h1");
    hello.setAttributes({
    innerHTML:"Hello World"
    });
    hello.on("click", function(e){
        console.log(this);
        this.update({
            style:{
                color:"red"
            }
        });
    })
    htmlSync.add(hello);